<div class="container">
    <h3 class="center-align">Registrar Servicio</h3>
    <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()">
      <div class="row">
        <div class="input-field col s6">
          <input formControlName="fecha" type="date" class="validate">
          <label for="fecha">Fecha</label>
        </div>
        <div class="input-field col s6">
          <input formControlName="hora" type="time" class="validate">
          <label for="hora">Hora</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="valor" type="number" class="validate">
          <label for="valor">Valor $</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!--<input formControlName="origen" type="text" class="validate">
          <label for="valor">Origen</label>-->
          <select class="browser-default validate" formControlName="origen" >
            <option value="" disabled selected>Origen</option>
            <option *ngFor="let clior of listadoClientesO" value="{{clior.nombre}} {{clior.apellidos}}">{{clior.nombre}} {{clior.apellidos}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!--<input formControlName="destino" type="text" class="validate">
          <label for="destino">Destino</label>-->
          <select class="browser-default validate" formControlName="destino" >
            <option value="" disabled selected>Destino</option>
            <option *ngFor="let clior of listadoClientesO" value="{{clior.nombre}} {{clior.apellidos}}">{{clior.nombre}} {{clior.apellidos}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <!--<input formControlName="encomienda" type="text" class="validate">-->
          <!--<label for="encomienda">Encomienda</label>-->
          <select class="browser-default validate" formControlName="encomienda" >
            <option value="" disabled selected>Encomienda</option>
            <option *ngFor="let encom of listadoEncomiendas" value="{{encom.descripcion}} - {{encom.tipo}}">{{encom.descripcion}} - {{encom.tipo}}</option>
          </select>
    
        </div>
      </div>
      
   
      <div class="row center-align">
        <button [disabled]="!fgValidacion.valid" class="btn yellow darken-4" type="submit" name="action">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
  
