<div class="container">
    <br>
    <a routerLink="/servicios/create" class="btn blue-grey darken-2">Registrar Servicio</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Valor</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Encomienda</th>
            <th>Acciones</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.fecha}}</td>
          <td>{{p.hora}}</td>
          <td>{{p.valor}}</td>
          <td>{{p.origen}}</td>
          <td>{{p.destino}}</td>
          <td>{{p.encomienda}}</td>
          <td>
            <a routerLink="/servicios/edit/{{p.id}}" class="btn yellow darken-4">Editar</a>
            <button class="btn grey darken-1" (click)="delete(p.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
<br>