<div class="container">
    <br>
    <a routerLink="/clientes/create" class="btn blue-grey darken-2">Registrar Cliente</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>País</th>
            <th>Departamento</th>
            <th>Ciudad</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>E-mail</th>
            <th>Acciones</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.cedula}}</td>
          <td>{{p.nombre}}</td>
          <td>{{p.apellidos}}</td>
          <td>{{p.pais}}</td>
          <td>{{p.departamento}}</td>
          <td>{{p.ciudad}}</td>
          <td>{{p.direccion}}</td>
          <td>{{p.telefono}}</td>
          <td>{{p.email}}</td>
          <td>
            <a routerLink="/clientes/edit/{{p.id}}" class="btn yellow darken-4">Editar</a>
            <button class="btn grey darken-1" (click)="delete(p.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
<br>  
